body {
    font-family: "Comic Sans MS", sans-serif;
}

header {
    background-image: url("../images/catBg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    color: lightskyblue;


}

footer {
    font-size: 0.9rem;
}
